@inherits BFComponent;

@using Syncfusion.EJ2.Blazor.Buttons
@using BF.Common.Events
@using BF.Common.Components
@using BF.Common.States

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            Pump @ComponentId
        </div>
        <div class="col">
            <EjsButton CssClass="e-flat"
                        IsPrimary="true"
                        Content="@Content"
                        IsToggle="true"
                        OnClick="OnToggleClick"
                        @ref="ToggleBtnObj">
            </EjsButton>
        </div>
    </div>
</div>
                

@code {
    public EjsButton ToggleBtnObj;

    private const string Start = "Start";
    private const string Stop = "Stop";

    public string Content { get; set; } = Start;

    public override void Initialize() {
        EventHandler.SubscribeToComponentStateChange<PumpState>(PumpStateChangeOccured,
                                                                            ComponentId);
    }

    private void PumpStateChangeOccured(ComponentStateChange<PumpState> componentStateChange) {
        Content = (componentStateChange.CurrentState.IsEngaged) ? Stop : Start;
    }

    public void OnToggleClick() {
        Content = (ToggleBtnObj.Content == Start) ? Stop : Start;

        EventHandler.ComponentStateRequestFiring(new ComponentStateRequest<PumpRequestState> {
            RequestState = new PumpRequestState {
                Id = ComponentId,
                IsEngaged = (Content == Stop)
            }
        });
    }
}
