@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.CircularGauge
@using BF.Service.Events
@using BF.Common.Events
@using BF.Common.Components

<EjsCircularGauge Width="100%" Height="100%">
    <CircularGaugeAxes>
        <CircularGaugeAxis Minimum="20" Maximum="220" StartAngle="240" EndAngle="120" Radius="90%">
            <CircularGaugePointers>
                <CircularGaugePointer Value="@Temperature">
                </CircularGaugePointer>
                <CircularGaugePointer Type="PointerType.RangeBar" Value="@SetPoint" Radius="60%" Color="#8BC34A" PointerWidth="7" RoundedCornerRadius="10">
                    <CircularGaugePointerAnimation Enable="false" Duration="0">
                    </CircularGaugePointerAnimation>
                </CircularGaugePointer>
            </CircularGaugePointers>
            <CircularGaugeAnnotations>
                <CircularGaugeAnnotation Angle="180"
                                         Radius="20%"
                                         ZIndex="1">
                    <ContentTemplate>
                        <div style="width:150px;margin:auto auto; margin-left:-65px; font-size: 40px; text-align:center;">@TemperatureStr&deg;F</div>
                    </ContentTemplate>
                </CircularGaugeAnnotation>
            </CircularGaugeAnnotations>
            <CircularGaugeRanges>
                <CircularGaugeRange Start="20" End="32" Color="Blue" />
                <CircularGaugeRange Start="212" End="220" Color="Red" />
            </CircularGaugeRanges>
            
        </CircularGaugeAxis>
    </CircularGaugeAxes>
</EjsCircularGauge>

@code {

    [Parameter]
    public ComponentId ComponentId { get; set; }

    [Inject]
    IBeerFactoryEventHandler _beerFactoryEventHandler { get; set; }

    public string TemperatureStr { get; set; }

    public double Temperature { get; set; }

    public double SetPoint { get; set; }

    protected override async Task OnInitializedAsync() {
        _beerFactoryEventHandler.TemperatureChangeOccured(TemperatureChangeOccured);
        _beerFactoryEventHandler.PidChangeOccured(PidChangeOccured);
    }

    void TemperatureChangeOccured(TemperatureChange temperatureChange) {
        if (temperatureChange.Id == ComponentId) {
            Temperature = (double)temperatureChange.Value;
            TemperatureStr = temperatureChange.Value.ToString("0.0");
            InvokeAsync(() => StateHasChanged());
        }
    }

    void PidChangeOccured(PidChange pidChange) {
        if (pidChange.Id == ComponentId) {
            SetPoint = pidChange.SetPoint;
            InvokeAsync(() => StateHasChanged());
        }
    }

}